.vscode/
checkpoints/
kitti_tiny.zip
kitti_tiny/
checkpoints/
utils/__pycache__/utils.cpython-37.pyc
weights/
__pycache__/
data/coco/*
data/kitti/*
data/nuImage/*
data/samples/*
data/3D_kitti_tiny/velodyne_reduced
data/coco.names
data/kitti.names
data/kitti.zip
!data/kitti_tiny
test_data.txt
loss data.txt
checkpoints_2/
config/

